%h1 Listing activities

%table
  %tr
    %th Name
    %th Title
    %th Begin date
    %th End Date
    %th Details
    %th Type
    %th
    %th
    %th
    %th

  = render partial: "activity", collection: @activities
%br

= link_to 'New Employment', new_activity_path({type: Employment})
= link_to 'New Education', new_activity_path({type: Education})
= link_to 'New Project', new_activity_path({type: Project})
